manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
      name: ZMK Locales
      url-base: https://github.com/joelspadin/zmk-locales
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
  self:
    path: config